@use "var" as *;
@use "mixins" as *;
@include default;
h1{
    margin: auto;
    width: fit-content;
    border: 1px  $text-color;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
    font-size: 36px;
}
.form{
    background-color: $secondary-color;
    padding: 16px;
    width: fit-content;
    margin: auto;
    border-radius: 5%;
    button{
        background-color: $yellow-color;
        border: 1px solid black;
        color: black;
        font-weight: 500;
    }
}