@use "var" as *;
@mixin default(){
    body{
        margin: 0;
        background-color: $primary-color;
    }
    .warning{
          width: fit-content !important;
          margin: auto !important;
          background-color: red !important;
      }
    .success{
          width: fit-content;
          margin: auto;
          background-color: green;
    }
    .navbar{
        background-color: $secondary-color !important;
        .container-fluid{
            width: auto;
            // color: $text-color !important;
        }
    }
    .dropdown-menu.show {
        background-color: $yellow-color !important;
        a:hover{
            background-color: $yellow-color;
        }
    }
}
