@use "var" as *;
@use "mixins" as *;
@include default;
h1{
    margin: auto;
    width: fit-content;
    border: 1px  $text-color;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
    font-size: 36px;
}
.all-notes{
    margin: auto;
    width: 70%;
    padding-top: 16px;
    padding-bottom: 16px;
    box-sizing: border-box;
    background-color: #8DA86D;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    :nth-child(1){
        margin-top: 0 !important; 
    }

    .note{
        margin-top: 16px;
        padding: 16px;
        border: 1px solid $text-color;
        .form-buttons{
            display: flex;
            justify-content: space-between;
            :nth-child(1){
                background-color: green;
                border: 0px;
                color: white;
            }
            :nth-child(2){
                background-color: red;
                border: 0;
                color: white;
            }
        }
        // display: flex;
        textarea{
            margin-top: 16px;
            width: fit-content;
            padding: 16px 36px;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 0px;
            border: 2px solid black;
            // border-radius: 5%;
            background-color: $primary-color;
            margin: 0;
            padding: 0;
            &:focus{
                padding: 0px;
                // scale: 1.5;
                // box-sizing: content-box !important;
                // border: 1px solid black !important;
                // background-color: $primary-color !important;
            }

        }
    }
}